{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignments</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<div class="table"><table>
    <tr>
        <th>Assignment ID</th>
        <th>Username</th>
        <th>Role</th>
        <th>Train Class</th>
        <th>Train Number</th>
        <th>Route</th>
    </tr>

    {% for x in train_assignments %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.player.username }}</td>
            <td>{{ x.player.current_role.name }}</td>
            <td>{{ x.train_class }}</td>
            <td>{{ x.number }}</td>
            <td>{{ x.route }}</td>
            <td>
                <form action="{% url 'delete_assignment' x.id %}" method='POST'>
                    {% csrf_token %}
                    <button>delete!</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table></div>
</body>
</html>